/**{*/
/*  border: solid 1px red;*/
/*}*/
body{
  background-color: #eee;
}
header .cover{
  border-radius: 50%;
  top: -65px;
  display: absolute;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}
header h2{
  font-family: 'Titillium Web', sans-serif;
  padding: 4% 8%;
  font-size: 1em;
  margin-top: -28%;
}
@media all and (min-width: 720px){
  header .cover{
    top: -110px;
  }
  header h2{
    margin-top: -22%;
    font-size: 1.5em;
  }
}
section{
  background-color: #fff;
  margin: 8%;
  padding: 2%;
}
section h1, section p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
}
section h1{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  padding: 2%;
  font-size: 1.5em;
  text-decoration: underline;
}
@media all and (min-width:720px){
  section p{
  line-height: 2em;
  text-align: center;
  }
  section h1{
    font-size: 2em;
    text-decoration: none;
  }
}
#mailme:hover{
  text-transform: uppercase;
}