a, a:hover{
  color: inherit;
}
.navbar-brand{
  font-family: 'Titillium Web', sans-serif;
}
.dropdown-item{
  color: #999;
}
.row{
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  /*border: solid 1px red;*/
}
section>article>p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  position: absolute;
  z-index: 100;
  padding: 1%;
  background-image: linear-gradient(to right, rgba(255,255,255,.6), rgba(255,255,255,1), rgba(255,255,255,.6));
}
.horizontal_container{
  /*border: solid 2px yellow;*/
  overflow: auto;
  white-space: nowrap;
  box-shadow: 0 0 10px #aaa;
}
div article{
  width: 50%;
  display: inline-block;
  /*border: solid 1px green;*/
}
div figure img{
  /*margin: 2% auto;*/
  display: block;
  /*-moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;*/
}
.maincaption{
  font-family: 'Nunito', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  padding: 1% 2%;
  /*border: solid 2px red;*/
  background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,1), rgba(255,255,255,.5));
}
div>article>figure>p{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 1em;
  /*border: solid 1px red;*/
  width: 100%;
  height: 80px;
  padding: 2px;
  white-space: normal;
  display: inline-block;
  overflow: auto;
}
footer nav ul p{
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}
footer ul{
  text-align: center;
}
footer>p{
  text-align: center;
  font-family: 'Roboto';
  font-variant: small-caps;
  font-size: 1.2em;
  padding: 3%;
}
footer .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}
*{
  border: solid 2px green;
}
